<?xml version="1.0"?>
<!--
/**
 * @category    POSitive
 * @package     POSitive_PendingOrderState
 * @copyright   Copyright (c) 2014 TekWorks. (http://www.tekworks.us)
 * @license     http://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)
 */
-->
<config>
    <modules>
        <POSitive_PendingOrderState>
            <version>1.0.0</version>
        </POSitive_PendingOrderState>
    </modules>
    <global>
        <sales>
            <order>
                <states>
                    <pending translate="label">
                        <label>Pending</label>
                        <statuses>
                            <pending default="1"/>
                        </statuses>
                    </pending>
                </states>
            </order>
        </sales>
    </global>
</config>
